@import "tailwindcss";

@theme {
    --color-G0-0: #fefbf9;
    --color-G0-100: #f9f2eb;
    --color-G0-200: #ede5dc;
    --color-G0-300: #ded5ca;
    --color-G0-400: #cbc1b5;
    --color-G0-500: #b3aaa1;
    --color-G0-600: #989189;
    --color-G0-700: #7b756f;
    --color-G0-800: #5b5753;
    --color-G0-900: #3b3836;
    --color-G0-1000: #1a1918;
    --color-G1-0: #fafcff;
    --color-G1-100: #eff3fb;
    --color-G1-200: #e1e6f0;
    --color-G1-300: #d0d6e2;
    --color-G1-400: #bcc3d0;
    --color-G1-500: #a6acb7;
    --color-G1-600: #8e929b;
    --color-G1-700: #73767d;
    --color-G1-800: #55585d;
    --color-G1-900: #37393c;
    --color-G1-1000: #19191b;
    --color-R8-0: #fffcfb;
    --color-R8-100: #fef1ef;
    --color-R8-200: #ffe1db;
    --color-R8-300: #ffcac2;
    --color-R8-400: #ffaea1;
    --color-R8-500: #df9b90;
    --color-R8-600: #bd857d;
    --color-R8-700: #976d66;
    --color-R8-800: #70524d;
    --color-R8-900: #483532;
    --color-R8-1000: #201817;
    --color-R7Y1-0: #fffcfb;
    --color-R7Y1-100: #fef1ee;
    --color-R7Y1-200: #ffe1d9;
    --color-R7Y1-300: #ffcbbd;
    --color-R7Y1-400: #ffaf9a;
    --color-R7Y1-500: #df9c8a;
    --color-R7Y1-600: #bd8678;
    --color-R7Y1-700: #976d62;
    --color-R7Y1-800: #70524a;
    --color-R7Y1-900: #483530;
    --color-R7Y1-1000: #201816;
    --color-R6Y2-0: #fffcfa;
    --color-R6Y2-100: #fff1ec;
    --color-R6Y2-200: #ffe1d6;
    --color-R6Y2-300: #ffccb8;
    --color-R6Y2-400: #ffb091;
    --color-R6Y2-500: #df9d83;
    --color-R6Y2-600: #bd8772;
    --color-R6Y2-700: #976e5e;
    --color-R6Y2-800: #705247;
    --color-R6Y2-900: #48362f;
    --color-R6Y2-1000: #201815;
    --color-R5Y3-0: #fffcfa;
    --color-R5Y3-100: #fff1ea;
    --color-R5Y3-200: #ffe1d2;
    --color-R5Y3-300: #ffccb1;
    --color-R5Y3-400: #ffb086;
    --color-R5Y3-500: #df9d7a;
    --color-R5Y3-600: #bc866a;
    --color-R5Y3-700: #976d58;
    --color-R5Y3-800: #705243;
    --color-R5Y3-900: #48352c;
    --color-R5Y3-1000: #201814;
    --color-R4Y4-0: #fffcf9;
    --color-R4Y4-100: #fff1e9;
    --color-R4Y4-200: #ffe1ce;
    --color-R4Y4-300: #ffccaa;
    --color-R4Y4-400: #ffb07a;
    --color-R4Y4-500: #df9d70;
    --color-R4Y4-600: #bc8762;
    --color-R4Y4-700: #976e52;
    --color-R4Y4-800: #70533f;
    --color-R4Y4-900: #483629;
    --color-R4Y4-1000: #201813;
    --color-R3Y5-0: #fffcf9;
    --color-R3Y5-100: #fff1e6;
    --color-R3Y5-200: #ffe2c9;
    --color-R3Y5-300: #ffcda2;
    --color-R3Y5-400: #ffb269;
    --color-R3Y5-500: #df9e63;
    --color-R3Y5-600: #bc8858;
    --color-R3Y5-700: #976f4a;
    --color-R3Y5-800: #705339;
    --color-R3Y5-900: #483626;
    --color-R3Y5-1000: #201811;
    --color-R2Y6-0: #fffcf8;
    --color-R2Y6-100: #fff2e3;
    --color-R2Y6-200: #ffe2c3;
    --color-R2Y6-300: #ffce95;
    --color-R2Y6-400: #ffb351;
    --color-R2Y6-500: #df9f4f;
    --color-R2Y6-600: #bc8849;
    --color-R2Y6-700: #976f3f;
    --color-R2Y6-800: #705332;
    --color-R2Y6-900: #473622;
    --color-R2Y6-1000: #20180f;
    --color-R1Y7-0: #fffcf7;
    --color-R1Y7-100: #fff2df;
    --color-R1Y7-200: #ffe3b9;
    --color-R1Y7-300: #ffcf83;
    --color-R1Y7-400: #ffb410;
    --color-R1Y7-500: #dfa029;
    --color-R1Y7-600: #bc892f;
    --color-R1Y7-700: #966f2d;
    --color-R1Y7-800: #6f5426;
    --color-R1Y7-900: #47361b;
    --color-R1Y7-1000: #20180d;
    --color-Y8-0: #fffcf5;
    --color-Y8-100: #fff2d6;
    --color-Y8-200: #fde4ae;
    --color-Y8-300: #f9d178;
    --color-Y8-400: #f3b900;
    --color-Y8-500: #d5a524;
    --color-Y8-600: #b38d2c;
    --color-Y8-700: #90722b;
    --color-Y8-800: #6a5525;
    --color-Y8-900: #44371a;
    --color-Y8-1000: #1e190c;
    --color-Y7G1-0: #fffdec;
    --color-Y7G1-100: #fcf4c1;
    --color-Y7G1-200: #f8e888;
    --color-Y7G1-300: #ebd75b;
    --color-Y7G1-400: #dbc200;
    --color-Y7G1-500: #c0ac24;
    --color-Y7G1-600: #a2922b;
    --color-Y7G1-700: #82762a;
    --color-Y7G1-800: #605824;
    --color-Y7G1-900: #3e3919;
    --color-Y7G1-1000: #1b190c;
    --color-Y6G2-0: #fdfee0;
    --color-Y6G2-100: #f7f9a4;
    --color-Y6G2-200: #ebec83;
    --color-Y6G2-300: #dcdc58;
    --color-Y6G2-400: #cac800;
    --color-Y6G2-500: #b2b124;
    --color-Y6G2-600: #96962b;
    --color-Y6G2-700: #79792a;
    --color-Y6G2-800: #5a5a24;
    --color-Y6G2-900: #393a19;
    --color-Y6G2-1000: #191a0c;
    --color-Y5G3-0: #f9ffe4;
    --color-Y5G3-100: #edfbaa;
    --color-Y5G3-200: #deef83;
    --color-Y5G3-300: #cde058;
    --color-Y5G3-400: #b9cc00;
    --color-Y5G3-500: #a3b423;
    --color-Y5G3-600: #8a982a;
    --color-Y5G3-700: #707a29;
    --color-Y5G3-800: #535b23;
    --color-Y5G3-900: #353a19;
    --color-Y5G3-1000: #171a0b;
    --color-Y4G4-0: #f7ffe9;
    --color-Y4G4-100: #e6fbb8;
    --color-Y4G4-200: #d2f285;
    --color-Y4G4-300: #bee35a;
    --color-Y4G4-400: #a8d000;
    --color-Y4G4-500: #95b722;
    --color-Y4G4-600: #7f9b2a;
    --color-Y4G4-700: #667c29;
    --color-Y4G4-800: #4c5c22;
    --color-Y4G4-900: #313b18;
    --color-Y4G4-1000: #151a0b;
    --color-Y3G5-0: #f6ffec;
    --color-Y3G5-100: #e0fcbf;
    --color-Y3G5-200: #c5f586;
    --color-Y3G5-300: #afe75a;
    --color-Y3G5-400: #95d400;
    --color-Y3G5-500: #85ba22;
    --color-Y3G5-600: #729d29;
    --color-Y3G5-700: #5c7e28;
    --color-Y3G5-800: #455d22;
    --color-Y3G5-900: #2c3b18;
    --color-Y3G5-1000: #131a0b;
    --color-Y2G6-0: #f4ffee;
    --color-Y2G6-100: #dafdc3;
    --color-Y2G6-200: #b8f889;
    --color-Y2G6-300: #9dea5b;
    --color-Y2G6-400: #7ed800;
    --color-Y2G6-500: #72bd22;
    --color-Y2G6-600: #639f29;
    --color-Y2G6-700: #518028;
    --color-Y2G6-800: #3d5e22;
    --color-Y2G6-900: #283c18;
    --color-Y2G6-1000: #111a0b;
    --color-Y1G7-0: #f3ffef;
    --color-Y1G7-100: #d4fdc6;
    --color-Y1G7-200: #acf990;
    --color-Y1G7-300: #86ed5b;
    --color-Y1G7-400: #5edc00;
    --color-Y1G7-500: #59c021;
    --color-Y1G7-600: #4fa228;
    --color-Y1G7-700: #428127;
    --color-Y1G7-800: #335f21;
    --color-Y1G7-900: #223c17;
    --color-Y1G7-1000: #0f1a0a;
    --color-G8-0: #f1fff0;
    --color-G8-100: #cefec8;
    --color-G8-200: #9ffa95;
    --color-G8-300: #67f05b;
    --color-G8-400: #1de000;
    --color-G8-500: #2ec321;
    --color-G8-600: #31a327;
    --color-G8-700: #2e8226;
    --color-G8-800: #256020;
    --color-G8-900: #1a3d16;
    --color-G8-1000: #0c1a0a;
    --color-G7T1-0: #f1fff2;
    --color-G7T1-100: #ccfed1;
    --color-G7T1-200: #9bfaa9;
    --color-G7T1-300: #63ef80;
    --color-G7T1-400: #00de59;
    --color-G7T1-500: #25c254;
    --color-G7T1-600: #2ca34b;
    --color-G7T1-700: #2b823f;
    --color-G7T1-800: #245f30;
    --color-G7T1-900: #193c1f;
    --color-G7T1-1000: #0b1a0e;
    --color-G6T2-0: #f0fff4;
    --color-G6T2-100: #ccfdda;
    --color-G6T2-200: #9af9b9;
    --color-G6T2-300: #63ee9a;
    --color-G6T2-400: #00dd7b;
    --color-G6T2-500: #25c16f;
    --color-G6T2-600: #2da260;
    --color-G6T2-700: #2b814f;
    --color-G6T2-800: #245f3b;
    --color-G6T2-900: #193c26;
    --color-G6T2-1000: #0c1a10;
    --color-G5T3-0: #f0fff6;
    --color-G5T3-100: #cbfde1;
    --color-G5T3-200: #98f9c6;
    --color-G5T3-300: #64edac;
    --color-G5T3-400: #00dc92;
    --color-G5T3-500: #26c082;
    --color-G5T3-600: #2da16f;
    --color-G5T3-700: #2c815a;
    --color-G5T3-800: #255f43;
    --color-G5T3-900: #1a3c2b;
    --color-G5T3-1000: #0c1a13;
    --color-G4T4-0: #f0fff8;
    --color-G4T4-100: #cafde7;
    --color-G4T4-200: #96f8d1;
    --color-G4T4-300: #64ecbb;
    --color-G4T4-400: #00dba4;
    --color-G4T4-500: #26bf90;
    --color-G4T4-600: #2da17b;
    --color-G4T4-700: #2c8063;
    --color-G4T4-800: #255e4a;
    --color-G4T4-900: #1a3c2f;
    --color-G4T4-1000: #0c1a14;
    --color-G3T5-0: #effff9;
    --color-G3T5-100: #c9fcec;
    --color-G3T5-200: #93f8da;
    --color-G3T5-300: #63ebc7;
    --color-G3T5-400: #00d9b2;
    --color-G3T5-500: #26be9c;
    --color-G3T5-600: #2d9f84;
    --color-G3T5-700: #2c7f6a;
    --color-G3T5-800: #255e4f;
    --color-G3T5-900: #1a3b32;
    --color-G3T5-1000: #0c1a16;
    --color-G2T6-0: #eefffb;
    --color-G2T6-100: #c8fcf1;
    --color-G2T6-200: #91f7e3;
    --color-G2T6-300: #63ead3;
    --color-G2T6-400: #00d8bf;
    --color-G2T6-500: #26bda7;
    --color-G2T6-600: #2d9f8d;
    --color-G2T6-700: #2c7f71;
    --color-G2T6-800: #255d54;
    --color-G2T6-900: #1a3b35;
    --color-G2T6-1000: #0c1a17;
    --color-G1T7-0: #eefffd;
    --color-G1T7-100: #c7fcf6;
    --color-G1T7-200: #8ff7ed;
    --color-G1T7-300: #63e9dd;
    --color-G1T7-400: #00d8cb;
    --color-G1T7-500: #26bcb1;
    --color-G1T7-600: #2e9e96;
    --color-G1T7-700: #2c7f78;
    --color-G1T7-800: #255d58;
    --color-G1T7-900: #1a3b38;
    --color-G1T7-1000: #0c1a18;
    --color-T8-0: #eeffff;
    --color-T8-100: #c6fcfb;
    --color-T8-200: #8ff6f5;
    --color-T8-300: #63e8e8;
    --color-T8-400: #00d6d7;
    --color-T8-500: #27bbbc;
    --color-T8-600: #2e9e9e;
    --color-T8-700: #2c7e7e;
    --color-T8-800: #255d5d;
    --color-T8-900: #1a3b3b;
    --color-T8-1000: #0c1a1a;
    --color-T7B1-0: #f4fdff;
    --color-T7B1-100: #d5f7ff;
    --color-T7B1-200: #aeeffd;
    --color-T7B1-300: #7ae3f8;
    --color-T7B1-400: #00d4f2;
    --color-T7B1-500: #27b9d2;
    --color-T7B1-600: #2e9cb0;
    --color-T7B1-700: #2d7d8c;
    --color-T7B1-800: #265c67;
    --color-T7B1-900: #1a3b42;
    --color-T7B1-1000: #0c1a1d;
    --color-T6B2-0: #f6fcff;
    --color-T6B2-100: #def5ff;
    --color-T6B2-200: #bcecff;
    --color-T6B2-300: #8de0ff;
    --color-T6B2-400: #3cd1ff;
    --color-T6B2-500: #41b7de;
    --color-T6B2-600: #3f9bba;
    --color-T6B2-700: #387c94;
    --color-T6B2-800: #2d5c6d;
    --color-T6B2-900: #1e3b45;
    --color-T6B2-1000: #0e1a1f;
    --color-T5B3-0: #f8fcff;
    --color-T5B3-100: #e3f5ff;
    --color-T5B3-200: #c6eaff;
    --color-T5B3-300: #a0ddff;
    --color-T5B3-400: #6acdff;
    --color-T5B3-500: #62b4de;
    --color-T5B3-600: #5798ba;
    --color-T5B3-700: #497a95;
    --color-T5B3-800: #385b6d;
    --color-T5B3-900: #253a46;
    --color-T5B3-1000: #111a1f;
    --color-T4B4-0: #f9fcff;
    --color-T4B4-100: #e7f4ff;
    --color-T4B4-200: #cdeaff;
    --color-T4B4-300: #acdcff;
    --color-T4B4-400: #7fcaff;
    --color-T4B4-500: #74b2de;
    --color-T4B4-600: #6597bb;
    --color-T4B4-700: #547a95;
    --color-T4B4-800: #405a6e;
    --color-T4B4-900: #2a3a46;
    --color-T4B4-1000: #131a1f;
    --color-T3B5-0: #f9fcff;
    --color-T3B5-100: #e9f4ff;
    --color-T3B5-200: #d2e9ff;
    --color-T3B5-300: #b3daff;
    --color-T3B5-400: #8cc7ff;
    --color-T3B5-500: #7fb0de;
    --color-T3B5-600: #6e95bb;
    --color-T3B5-700: #5a7895;
    --color-T3B5-800: #445a6e;
    --color-T3B5-900: #2c3a46;
    --color-T3B5-1000: #141a1f;
    --color-T2B6-0: #fafcff;
    --color-T2B6-100: #ebf4ff;
    --color-T2B6-200: #d5e8ff;
    --color-T2B6-300: #b9d9ff;
    --color-T2B6-400: #97c5ff;
    --color-T2B6-500: #87aede;
    --color-T2B6-600: #7494bb;
    --color-T2B6-700: #5f7896;
    --color-T2B6-800: #48596e;
    --color-T2B6-900: #2f3946;
    --color-T2B6-1000: #15191f;
    --color-T1B7-0: #fafcff;
    --color-T1B7-100: #ecf4ff;
    --color-T1B7-200: #d9e8ff;
    --color-T1B7-300: #bfd8ff;
    --color-T1B7-400: #a0c4ff;
    --color-T1B7-500: #8faddf;
    --color-T1B7-600: #7b94bb;
    --color-T1B7-700: #647796;
    --color-T1B7-800: #4b596f;
    --color-T1B7-900: #313947;
    --color-T1B7-1000: #161a20;
    --color-B8-0: #fbfcff;
    --color-B8-100: #eef3ff;
    --color-B8-200: #dbe7ff;
    --color-B8-300: #c3d7ff;
    --color-B8-400: #a6c3ff;
    --color-B8-500: #94acdf;
    --color-B8-600: #7f92bb;
    --color-B8-700: #677696;
    --color-B8-800: #4e586f;
    --color-B8-900: #323947;
    --color-B8-1000: #161920;
    --color-B7P1-0: #fbfcff;
    --color-B7P1-100: #eff3ff;
    --color-B7P1-200: #dfe6ff;
    --color-B7P1-300: #c9d5ff;
    --color-B7P1-400: #afc1ff;
    --color-B7P1-500: #9baadf;
    --color-B7P1-600: #8591bc;
    --color-B7P1-700: #6c7696;
    --color-B7P1-800: #51586f;
    --color-B7P1-900: #343947;
    --color-B7P1-1000: #171920;
    --color-B6P2-0: #fbfcff;
    --color-B6P2-100: #f1f3ff;
    --color-B6P2-200: #e2e6ff;
    --color-B6P2-300: #ced4ff;
    --color-B6P2-400: #b7beff;
    --color-B6P2-500: #a2a9df;
    --color-B6P2-600: #8b90bc;
    --color-B6P2-700: #717596;
    --color-B6P2-800: #54576f;
    --color-B6P2-900: #363847;
    --color-B6P2-1000: #181920;
    --color-B5P3-0: #fcfcff;
    --color-B5P3-100: #f2f2ff;
    --color-B5P3-200: #e5e5ff;
    --color-B5P3-300: #d4d2ff;
    --color-B5P3-400: #bfbcff;
    --color-B5P3-500: #a9a6df;
    --color-B5P3-600: #908ebc;
    --color-B5P3-700: #757396;
    --color-B5P3-800: #57566f;
    --color-B5P3-900: #383847;
    --color-B5P3-1000: #191920;
    --color-B4P4-0: #fcfcff;
    --color-B4P4-100: #f4f2ff;
    --color-B4P4-200: #e9e4ff;
    --color-B4P4-300: #dad1ff;
    --color-B4P4-400: #c8b9ff;
    --color-B4P4-500: #b1a4df;
    --color-B4P4-600: #968cbc;
    --color-B4P4-700: #797297;
    --color-B4P4-800: #5b556f;
    --color-B4P4-900: #3a3747;
    --color-B4P4-1000: #1a1920;
    --color-B3P5-0: #fdfcff;
    --color-B3P5-100: #f6f2ff;
    --color-B3P5-200: #ede3ff;
    --color-B3P5-300: #e1cfff;
    --color-B3P5-400: #d2b6ff;
    --color-B3P5-500: #b9a2df;
    --color-B3P5-600: #9e8bbc;
    --color-B3P5-700: #7f7197;
    --color-B3P5-800: #5f5570;
    --color-B3P5-900: #3d3748;
    --color-B3P5-1000: #1c1920;
    --color-B2P6-0: #fdfcff;
    --color-B2P6-100: #f9f1ff;
    --color-B2P6-200: #f2e1ff;
    --color-B2P6-300: #e9ccff;
    --color-B2P6-400: #deb1ff;
    --color-B2P6-500: #c39edf;
    --color-B2P6-600: #a687bd;
    --color-B2P6-700: #866e97;
    --color-B2P6-800: #645370;
    --color-B2P6-900: #403648;
    --color-B2P6-1000: #1d1820;
    --color-B1P7-0: #fefcff;
    --color-B1P7-100: #fcf1ff;
    --color-B1P7-200: #f8e0ff;
    --color-B1P7-300: #f3c9ff;
    --color-B1P7-400: #edaaff;
    --color-B1P7-500: #d099e0;
    --color-B1P7-600: #b184bd;
    --color-B1P7-700: #8e6c98;
    --color-B1P7-800: #6a5171;
    --color-B1P7-900: #443548;
    --color-B1P7-1000: #1f1821;
    --color-P8-0: #fffcff;
    --color-P8-100: #fef1fe;
    --color-P8-200: #ffdffd;
    --color-P8-300: #ffc5fc;
    --color-P8-400: #ffa2fc;
    --color-P8-500: #e092dd;
    --color-P8-600: #be7ebb;
    --color-P8-700: #996897;
    --color-P8-800: #714f70;
    --color-P8-900: #493448;
    --color-P8-1000: #211821;
    --color-P7R1-0: #fffcfd;
    --color-P7R1-100: #fef1f8;
    --color-P7R1-200: #ffdff1;
    --color-P7R1-300: #ffc7e7;
    --color-P7R1-400: #ffa7dc;
    --color-P7R1-500: #e095c2;
    --color-P7R1-600: #bd81a5;
    --color-P7R1-700: #986a85;
    --color-P7R1-800: #715063;
    --color-P7R1-900: #493440;
    --color-P7R1-1000: #21181d;
    --color-P6R2-0: #fffcfd;
    --color-P6R2-100: #fef1f6;
    --color-P6R2-200: #ffdfeb;
    --color-P6R2-300: #ffc8dd;
    --color-P6R2-400: #ffa9cc;
    --color-P6R2-500: #e097b5;
    --color-P6R2-600: #bd829a;
    --color-P6R2-700: #986a7d;
    --color-P6R2-800: #71505d;
    --color-P6R2-900: #48343c;
    --color-P6R2-1000: #21181b;
    --color-P5R3-0: #fffcfc;
    --color-P5R3-100: #fef1f4;
    --color-P5R3-200: #ffe0e8;
    --color-P5R3-300: #ffc9d7;
    --color-P5R3-400: #ffaac2;
    --color-P5R3-500: #e099ad;
    --color-P5R3-600: #bd8494;
    --color-P5R3-700: #986b78;
    --color-P5R3-800: #71515a;
    --color-P5R3-900: #48353a;
    --color-P5R3-1000: #21181a;
    --color-P4R4-0: #fffcfc;
    --color-P4R4-100: #fef1f3;
    --color-P4R4-200: #ffe0e5;
    --color-P4R4-300: #ffc9d2;
    --color-P4R4-400: #ffabba;
    --color-P4R4-500: #e099a6;
    --color-P4R4-600: #bd848e;
    --color-P4R4-700: #986c73;
    --color-P4R4-800: #715156;
    --color-P4R4-900: #483538;
    --color-P4R4-1000: #211819;
    --color-P3R5-0: #fffcfc;
    --color-P3R5-100: #fef1f1;
    --color-P3R5-200: #ffe0e2;
    --color-P3R5-300: #ffc9cd;
    --color-P3R5-400: #ffacb3;
    --color-P3R5-500: #df999f;
    --color-P3R5-600: #bd8488;
    --color-P3R5-700: #986c6f;
    --color-P3R5-800: #705153;
    --color-P3R5-900: #483536;
    --color-P3R5-1000: #211818;
    --color-P2R6-0: #fffcfc;
    --color-P2R6-100: #fef1f1;
    --color-P2R6-200: #ffe0e0;
    --color-P2R6-300: #ffcac9;
    --color-P2R6-400: #ffadad;
    --color-P2R6-500: #df9a9a;
    --color-P2R6-600: #bd8584;
    --color-P2R6-700: #986c6c;
    --color-P2R6-800: #705151;
    --color-P2R6-900: #483535;
    --color-P2R6-1000: #211818;
    --color-P1R7-0: #fffcfb;
    --color-P1R7-100: #fef1f0;
    --color-P1R7-200: #ffe1de;
    --color-P1R7-300: #ffcbc6;
    --color-P1R7-400: #ffaea7;
    --color-P1R7-500: #df9b96;
    --color-P1R7-600: #bd8581;
    --color-P1R7-700: #986d69;
    --color-P1R7-800: #70524f;
    --color-P1R7-900: #483534;
    --color-P1R7-1000: #211817;
}
